.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.banner {
  background: #f5f5da;
  padding: 30px;
  text-align: center;
  border-radius: 20px;
}
.banner-title {
  color: #2d3d29;
}

.home {
  margin-top: 30px;
  width: 100%;
  text-align: center;
}
.content {
  margin: auto;
  width: 100%;
  padding: 10px 0px;
  background:  #f5f5da;
  display: block;
  border-radius: 10px;
}
.app1 {
  display: inline-block;
  width: 45%;
}
.app2 {
  display: inline-block;
  width: 45%;
}

